{% extends 'layout.html' %}

{% block title %}
Sign In
{% endblock title %}

{% block main %}

{% for message in messages %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
	<center>{{ message }}</center>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
</div>
{% endfor %}

<form action="{% url 'signin' %}" method="POST">
    <fieldset>
        <legend class="text-center">Sign In</legend>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" required>

            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" required>
        </div>
    </fieldset>
    <button type="submit" class="btn btn-primary">Sign In</button>
</form>
<div>
    <span class="text-muted">New member? </span><a href="{% url 'signup' %}">Sign Up</a>
</div>
{% endblock main %}