{% extends 'blog/layout.html' %}

{% block title %}STTech - Home{% endblock %}

{% block main %}
<div class="row">

	<!-- posts -->
	<div class="col-md-8">
		{% for post in posts %}
		<article class="media content-section mb-4">
			<div class="media-body border bg-light">
				<div class="article-metadata border-bottom px-4 py-2">
					<a class="article-title" href="{% url 'post-detail' post.slug %}">{{ post.title }}</a>
					<small class="text-muted ml-2">{{ post.publish }}</small>
				</div>
				<div class="article-content px-4 py-3">
					<p>{{ post.content }}</p>
				</div>
			</div>
		</article>
		{% endfor %}
	</div>

	<!-- sidebar -->
	<div class="col-md-4 py-2 sidebar">
		<div class="content-section">
			<h3>Latest posts</h3>
			<p class='text-muted'>Here is a list of latest posts.
			</p>
			<ul class="list-group mt-4">
				{% for post in posts %}
				<li class="list-group-item list-group-item-light"><a
						href="{% url 'post-detail' post.slug %}">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}